	.mother{
			background-color: white;
			color: red;
			max-width: 15%;
			cursor: pointer;
			display: block;
		}
		.mother .child{
			display: none;
			margin-left: 10%;
		}
		.mother:hover .child{
			display: block;
		}
		#f{
			background-color: red;
			border: none;
			width: 34%;
			color: white;
			font-size: 110%;
		}
body h1{
	text-align: center;
	font-weight: bolder;
	font-family: monospace;
	font-size: 250%;
}
a{
	text-decoration: none;
	color: red;
	float: right;
	background-color: white;

}
button{
	float: left;
	color: red;
	background-color: white;
	border:4px solid white;
}
body{
            
            
            background-color: red;
            color: white;
        }
#pos{
	width: 5%;
	font-family: monospace;
	font-size: 150%;
	border: none;
	background-color: red;
	color: white;
}
#pxs{
	width: 5%;
	font-family: monospace;
	font-size: 150%;
	border: none;
	background-color: red;
	color: white;
}
#board {
	width: 20%;
	margin: 3% auto;
	display: grid;
	grid-template-columns: repeat(3, 0.1fr);
}
.cell {
	width: 50px;
	height: 50px;
	border: 1px solid  red;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color:white;
}
.x-color{
	color: green;
	font-weight: bolder;
	font-family: monospace;
	font-size: 150%;
}   
.O-color{
	color: blue;
	font-weight: bolder;
	font-family: monospace;
	font-size: 150%;
}
body #announcer{
	text-align: center;
	font-weight: bolder;
	font-family: monospace;
	font-size: 150%;
}
body #announcers{
	text-align: center;
	font-weight: bolder;
	font-family: monospace;
	font-size: 150%;
}
footer{
            margin-top: 30%;
            font-size: 90%;
            float: left;
            text-align: left;
        } 